@import "tailwindcss";
@import "tw-animate-css";




.dotted-background{
  background-color: #16223c ;
  background-image: radial-gradient(rgba(255,255,255,0.28) 1px, transparent 1px);
  background-size: 30px 30px;
}